panda dataframe
DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [14]:
import numpy as np
import pandas as pd

In [19]:
#make database
a=[["ram",20,"male"],["shyam",21,"male"],["radha",22,"female"]]
a=pd.DataFrame(a,columns=["name","age","gender"])

b={
    "name":["ram","shyam","radha"],
    "age":[10,20,29],
    "gen":["m","m","f"]
}
b=pd.DataFrame(b)

#importing csv file
movie=pd.read_csv(r"C:\Users\LOQ\OneDrive\Desktop\learning python\panda\movies.csv")
ipl=pd.read_csv(r"C:\Users\LOQ\OneDrive\Desktop\learning python\panda\ipl-matches.csv")

In [ ]:
#attribute and methods
#shape
movie.shape
a.shape

#dtype
a.dtypes
ipl.dtypes
movie.dtypes

#index
a.index
movie.index
#column
a.columns#Index(['name', 'age', 'gender'], dtype='object')
movie.columns
    
#values
b.values#array([['ram', 10, 'm'],['shyam', 20, 'm'],['radha', 29, 'f']], dtype=object)
ipl.values

#head and tail
ipl.head(2)
ipl.tail(3)

#sample
a.sample()
ipl.sample()

#info say name of columns and no of rows and data type and not nul value
"""i=a.info()
ii=movie.info()"""
#describe give maths summary of data
a.describe()
movie.describe()

#isnull
a.isnull()
movie[movie.isnull()]
ipl.isnull()

#duplicate
movie.duplicated().sum() 
ipl.duplicated().sum()

#rename
#dataframe.rename(columns={'old_name':'new_name'},inplace=True)
a.rename(columns={"name":"NAAM"},inplace=False)

In [ ]:
#maths operations
#sum,prod,max,min,mean,median,mode,,sort_values,sort_index,corr

a.sum()
a.sort_values(by='age')
ipl.sort_values(by='MatchNumber')
ipl.sort_index

In [ ]:
#selecting olumn from the data
#single colmn = series
type(a['age']) # give series of that column

#multiple colmn
a[["age","gender"]]#it is dataframes

In [ ]:
#selecting the rows
#iloc=search by index position
#loc=search by name

movie.iloc[0] # give series
movie.iloc[1:4:2] # dataframe
movie.iloc[[0,5,100]]

m=movie.set_index("title_x",inplace=False)#it set index as title x
m.loc["Soni (film)"] #search by index name
m.loc[["Why Cheat India","Soni (film)"]]

In [ ]:
#selecting both row and column

m.loc[["Why Cheat India","Soni (film)"],["genres","story"]]
m.iloc[[0,1,3,100],7:]

In [149]:
#filtering the data
ipl.head()
movie.head(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

In [ ]:
#find all the winner of final 
n=ipl[ipl["MatchNumber"]=='Final'][["Season","WinningTeam"]]

#how many superovers has occured
ipl[ipl["SuperOver"]=="Y"]["SuperOver"].count()

#how many matches has csk won in kolkata
ipl[(ipl["City"]=="Kolkata") & (ipl["WinningTeam"]=="Chennai Super Kings")].shape[0]

#toss winner and match winner in percentage
ipl[ipl["TossWinner"]==ipl["WinningTeam"]].shape[0]/ipl.shape[0]*100

#find all movies imbd rating hgher than 8 and votes >10000
movie[(movie["imdb_rating"]>8)&(movie["imdb_votes"]>10000)][["title_x","imdb_rating","imdb_votes"]]

#action movie with rating >7.5
movie[(movie["genres"].str.contains("Action"))&(movie["imdb_rating"]>7.5)]["title_x"]

#

In [ ]:
# add new column 
a["city"]="delhi"
# astype
ipl.info()
ipl["ID"]=ipl["ID"].astype("int32")
ipl["Season"]=ipl["Season"].astype("category")
ipl.info()

In [ ]:
#value_counts
a.value_counts()#frequency of row

#find the player won most potm in final and qualifier
ipl.head(3)
ipl[~ipl["MatchNumber"].str.isdigit()]['Player_of_Match'].value_counts()

#toss piechart
#ipl['TossDecision'].value_counts().plot(kind='pie')

# how many match played by the teams
(ipl['Team1'].value_counts() + ipl['Team2'].value_counts()).sort_values(ascending=False).head(20) 


#sort_values
#sorting on one column
movie.head(2)
movie.sort_values(by='imdb_rating',ascending=False)
movie.sort_values(by='poster_path',na_position='first') # at sorting it bring NAN values first 
 #sorting on multiple column

movie.sort_values(by=['year_of_release','title_x'],ascending=[True,False])



#sort_index
movie.sort_index()
# reset index
bts=pd.read_csv(r"C:\Users\LOQ\OneDrive\Desktop\learning python\panda\batsman_runs_ipl.csv")
bts.set_index('batter',inplace=True)
bts.reset_index(inplace=True)

#rename
bts.rename(columns={"batsman_run":"runs"})

#nanunique
bts.nunique().count()#it drops the NAN value

np.int64(2)

In [ ]:
#isnull
bts.isnull()   
#notnull
bts.notnull()#revers the isnull 
#hasnan
movie['poster_path'].hasnans #gives true and false even if there is one NAN value

True

In [ ]:
#dropna
movie["poster_path"].dropna()#remove the complete row if there is NAN value
#it remove all the imp data
movie.dropna(how="all")#remove only thatcontail all nan value
movie.dropna(subset=["poster_path"])


#fillna
movie["poster_path"].fillna("unknown")

#drop_duplicates
#lastmatch played by viratkohli 
ipl[(ipl['City']=="Delhi")&((ipl['Team1Players'].str.contains('V Kohli'))|(ipl['Team2Players'].str.contains('V Kohli')))].drop_duplicates(subset="City",keep='last')

#apply

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
933,335998,Delhi,2008-04-30,2007/08,17,Delhi Daredevils,Royal Challengers Bangalore,Feroz Shah Kotla,Royal Challengers Bangalore,field,N,Delhi Daredevils,Runs,10.0,NaN,GD McGrath,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib ...","['P Kumar', 'W Jaffer', 'LRPL Taylor', 'JH Kal...",Aleem Dar,I Shivram